.collections {
  @extend %page;

  // background: $color-quicksand;
  // color: $color-quarter-spanish-white;
  z-index: 0;

  &--active {
    @extend %page--active;
  }
}

.collections__wrapper {
  @extend %cover;

  overflow: hidden;
  transition: opacity 0.5s 0.5s ease;

  .collections--open & {
    opacity: 0;
    transition-delay: 0s;
  }
}

.collections__titles {
  @extend %vertical-titles;
}

.collections__titles__wrapper {

}

.collections__titles__label {
  @extend %vertical-titles__label;
}

.collections__titles__label__text {
  @extend %vertical-titles__label__text;
}

.collections__titles__title {
  @extend %vertical-titles__title;

  .collections__titles__item:nth-child(1) & {
    height: 28.6rem;
  }

  .collections__titles__item:nth-child(2) & {
    height: 45.1rem;
  }

  .collections__titles__item:nth-child(3) & {
    height: 53.1rem;
  }

  .collections__titles__item:nth-child(4) & {
    height: 28.8rem;
  }
}

.collections__titles__title__text {
  @extend %vertical-titles__title__text;
}

.collections__gallery {
  @extend %cover;

  visibility: hidden;
  z-index: 1;
}

.collections__gallery__wrapper {
  align-items: center;
  display: flex;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-44.7rem * 0.5, -50%);
}

.collections__gallery__link {
  display: block;
  padding: 0 5.3rem;

  &:first-child {
    padding-left: 0;
  }

  &:last-child {
    padding-right: 0;
  }
}

.collections__gallery__media {
  height: 63.1rem * 0.8;
  position: relative;
  visibility: hidden;
  width: 44.7rem * 0.8;
}

.collections__gallery__media__image {
  @extend %cover;

  object-fit: cover;
}

.collections__content {
  @extend %cover;

  @include media('<phone') {
    display: none;
  }
}

.collections__article {
  bottom: 8rem;
  left: 8rem;
  position: absolute;
}

.collections__article__title {
  @extend %title-60;

  line-height: 1;
  margin-bottom: 1.5rem;
  overflow: hidden;
}

.collections__article__title__text {
  display: inline-block;
  transform: translateY(100%);
  transition: transform 1s $ease-in-out;

  .collections__article--active & {
    transform: translateY(0);
    transition-delay: 1s;
  }
}

.collections__article__description {
  @extend %description-18;

  span {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
  }

  span span {
    transform: translateY(100%);
    transition: transform 1s $ease-in-out;
  }

  .collections__article--active & {
    span span {
      transform: translateY(0);
    }

    span:nth-of-type(1) span {
      transition-delay: 1.05s;
    }

    span:nth-of-type(2) span {
      transition-delay: 1.1s;
    }

    span:nth-of-type(3) span {
      transition-delay: 1.15s;
    }

    span:nth-of-type(4) span {
      transition-delay: 1.2s;
    }

    span:nth-of-type(5) span {
      transition-delay: 1.25s;
    }
  }
}

.collections__mobile {
  bottom: 5rem;
  display: none;
  position: absolute;

  @include media('<phone') {
    display: flex;
  }
}

.collections__mobile__item {
  padding-left: 5rem;
  width: 100vw;
}

.collections__mobile__item__label {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}

.collections__mobile__item__title {
  font-family: $font-george-x;
  font-size: 12rem;
}

.collections__button {
  height: 63.1rem;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 44.7rem;
}
