.footer {
  padding: 0 8rem;
}

.footer__wrapper {
  align-items: center;
  border-top: 1px solid $color-black;
  display: flex;
  height: 13rem;
  justify-content: space-between;
  width: 100%;
}

.footer__title {
  font-size: 0;
}

.footer__title__media {
  display: block;
  width: 17.3rem;
}

.footer__description {
  font-size: 0;
}

.footer__description__media {
  display: block;
  width: 44.6rem;
}

.footer__list {
  display: flex;
}

.footer__item {
  &:not(:first-child) {
      margin-left: 5.5rem;
  }
}

.footer__link {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
}
