.menu {
  padding: 0 8rem;
}

.menu__wrapper {
  align-items: center;
  border-bottom: 1px solid $color-black;
  display: flex;
  height: 13rem;
  justify-content: space-between;
  width: 100%;
}

.menu__title {
  font-size: 0;
}

.menu__title__media {
  display: block;
  width: 11.1rem;
}

.menu__list {
  display: flex;
}

.menu__item {
  &:not(:first-child) {
    margin-left: 5.5rem;
  }
}

.menu__link {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 0.03rem;
  text-transform: uppercase;
}
