<div class="footer">
    <div class="footer__wrapper">
        <p class="footer__title">
            Lothus
        </p>
        <p class="footer__description">Footer description</p>
    </div>
</div>
