<nav class="navigation">
    <div class="navigation__wrapper">
        <a href="/" class="navigation__link">
        Floema

        <svg class="navigation__link__icon"></svg>
        </a>

        <ul class="navigation__list">
            <li class="navigation__list__item">
                <a href="/about/" class="navigation__list__link">About</a>
            </li>
            <li class="navigation__list__item">
                <a href="/collections/" class="navigation__list__link">Collections</a>
            </li>
        </ul>
    </div>
</nav>
