section#unsupported-screen.unsupported.unsupported--disabled
  .unsupported__wrapper
    h1.unsupported__title
      | Sorry, this folio is not optimized #[br]
      | for your browser.

    p.unsupported__description
      | Come back after you #[a(href="https://get.webgl.org/" target="_blank") enable WebGL] for the full experience. #[br]

