.home {
  height: calc(100vh - 13rem * 2);
  padding: 0 8rem;
}

.home__wrapper {
  height: 100%;
  overflow: auto;
}

.home__content {
  height: 100%;
}

.home__intro {
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.home__intro__title {
  font-size: 7.8rem;
  position: absolute;
  text-transform: uppercase;
  top: 50%;
  transform: translateY(-50%);

}
