@import './base/reset';

@import './utils/variables';
@import './utils/functions';
@import './utils/mixins';
@import './utils/vendors';
@import './utils/responsive';

@import './shared/descriptions';
@import './shared/links';
@import './shared/pages';
@import './shared/titles';
@import './shared/vertical-titles';

@import './base/fonts';
@import './base/base';

@import './components/preloader';
@import './components/transition';

@import './layout/navigation';

@import './pages/about/about';
@import './pages/about/content';
@import './pages/about/gallery';
@import './pages/about/highlight';

@import './pages/collections/collections';

@import './pages/details/details';

@import './pages/home/home';
