block variables

doctype html
html(lang="en")
  head
    include ./_includes/partials/head

  body
    include ./_includes/partials/navigation
    include ./_includes/partials/preloader
    include ./_includes/home
    include ./_includes/about

  script(type="module", src="/src/app/index.js")



