doctype html
html(lang="en")
  head
    include _includes/partials/head.pug

  body
    include _includes/partials/navigation.pug
    include _includes/partials/preloader.pug
    include _includes/partials/javascript-screen.pug
    include _includes/partials/unsupported-screen.pug
    include _includes/partials/webgl-screen.pug

    // Layouts
    include _includes/layouts/home.pug
    include _includes/layouts/about.pug

  script(type="module", src="/src/app/index.js")

