
%center {
    align-items: center;
    display: flex;
    justify-content: center;
}

%center-absolute {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

%cover {
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
}

%center {
    display: flex;
    align-items: center;
    justify-content: center;
}

%page {
    @extend %cover;

    opacity: 0;
    visibility: hidden;
    z-index: z("content");
}

%page__wrapper {
    color: inherit;
}

@mixin ratio($width, $height) {
    font-size: 0;
    overflow: hidden;
    position: relative;

    &::after {
        content: "";
        display: inline-block;
        padding-top: $height / $width * 100%;
        width: 100%;
    }
}
