$color-bright-gray: #37384c;
$color-cadet-blue: #b2b8c3;
$color-contessa: #c97164;
$color-quicksand: #bc978c;
$color-quarter-spanish-white: #f9f1e7;
$color-white: #fff;
$color-black: #000;

$font-george-x: 'George X';
$font-suisse-bp: 'Suisse BP';

$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);

$z-indexes: ('preloader', 'transition', 'navigation', 'content', 'canvas');
