block variables

doctype html
html(lang="en")
  head
    include ./views/partials/head

  body
    include ./views/partials/preloader
    include ./views/partials/navigation

    include ./views/pages/about
    include ./views/pages/home
    //- include ./views/pages/collections

    script(type="module", src="/app/index.js")
