@use "sass:map";

.app {
    background: $color-black;
    height: var(--100vh);
  }

  ::placeholder {
    color: currentColor;
    opacity: 1;
  }

// config to fill
// 'variable': (mobile, desktop)
$layout: (
  "columns-count": (
    4,
    14,
  ),
  "columns-gap": (
    20px,
    40px,
  ),
  "margin": (
    20px,
    40px,
  ),
);

:root {
    --layout-columns-count: #{nth(map.get($layout, "columns-count"), 2)};
    --layout-columns-gap: #{desktop-vw(nth(map.get($layout, "columns-gap"), 2))};
    --layout-margin: #{desktop-vw(nth(map.get($layout, "margin"), 2))};

  @include media('<=phone') {
    --layout-columns-count: #{nth(map.get($layout, "columns-count"), 1)};
    --layout-columns-gap: #{mobile-vw(nth(map.get($layout, "columns-gap"), 1))};
    --layout-margin: #{mobile-vw(nth(map.get($layout, "margin"), 1))};
  }

  --layout-width: calc(100vw - (2 * var(--layout-margin)));
  --layout-column-width: calc(
    (
        var(--layout-width) -
          ((var(--layout-columns-count) - 1) * var(--layout-columns-gap))
      ) / var(--layout-columns-count)
  );
}
