@font-face {
  font-family: $font-helvetica-neue;
  src: url('../../fonts/helvetica-neue.woff2') format('woff2'),
       url('../../fonts/helvetica-neue.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-blocus;
  src: url('../../fonts/blocus.woff2') format('woff2'),
       url('../../fonts/blocus.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-bookmania;
  src: url('../../fonts/bookmania.woff2') format('woff2'),
       url('../../fonts/bookmania.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-narly-ot-outline;
  src: url('../../fonts/narly-ot-outline.woff2') format('woff2'),
       url('../../fonts/narly-ot-outline.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-ed-sonar-regular;
  src: url('../../fonts/ed-sonar-regular-webfont.woff2') format('woff2'),
       url('../../fonts/ed-sonar-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-coronard-regular;
  src: url('../../fonts/greater_albion_typefounders_-_coronard-webfont.woff2') format('woff2'),
       url('../../fonts/greater_albion_typefounders_-_coronard-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-the-pretender;
  src: url('../../fonts/the-pretender.woff2') format('woff2'),
       url('../../fonts/the-pretender.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: $font-medieval-pixel;
  src: url('../../fonts/medieval-pixel.woff2') format('woff2'),
       url('../../fonts/medieval-pixel.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
